body {
background-image:url( 'images/back.jpg ');
background-repeat:repeat-x;
}

.mainwrap {
width:1000px;
height:800px;
margin:auto;
}

.header {
text-align:center;
font-size:120px;
font-family:algerian;
width:auto;
height:150px;
margin:1px 0px 0px 0px;
}

.footer {
background-color:#F7BC6C;
width:1335px;
height:150px;
margin:0px;
}

.menu {
background-color:#C6751C;
width:1000px;
height:50px;
color:blueviolet;
margin:0px;
}

.menu a {
margin-left:5px;
width:auto;
background-color:#C6751C;
height:30px;
text-align:center;
float:left;
text-decoration:none;
color:white;
margin-top:10px;
font-size:18px;
padding-top:3px;
font-variant:small-caps;
padding-left:15px;
padding-right:15px;
}

.menu a:hover {
width:auto;
text-decoration:none;
color:white;
height:30px;
float:left;
border-radius:5px 5px;
background-color:#E7A054;
margin-top:10px;
font-size:18px;
padding-top:3px;
font-variant:small-caps;
padding-left:15px;
padding-right:15px;
}

.cnus {
width:200px;
height:50px;
float:left;
color:white;
background-color:#C6751C;
text-align:center;
font-variant:small-caps;
border-radius:3px;
height:85px;
overflow:hidden;
margin-left:0px;
}


.content {
width:auto;
height: 100px;
color:black;
padding-top:70px;
}

.inputc {
border-radius:5px 5px 5px 5px;
}

.inputc:focus {
background-color:#7ABAE9;
}

#callme {
margin-left:50px;
}

.requestcall {
border:1px solid azure;
width:300px;
margin-top:10px;
padding-top:10px;
}

.nameofuser {
background-color:#C77C0E;
opacity:0.6;
margin-left:20px;
margin-top:10px;
width:300px;
height:20px;
border-radius:6px 6px 6px 6px;
text-align:center;
color:white;
font-size:120%;
}

.mybutton {
background-color:#C98114;
color:white;
width:250px;
height:50px;
border-radius:5px;
opacity:.4;
text-align:center;
margin-top:50px;
float:left;
margin-left:150px;
padding-top:20px;
font-size:150%;
cursor:pointer;
transition:margin-left 1s;
}

.mybutton:hover {
background-color:#F3DFC5;
color:black;
width:250px;
height:50px;
border-radius:5px;
opacity:.4;
text-align:center;
margin-top:50px;
float:left;
margin-left:150px;
padding-top:20px;
font-size:150%;
cursor:pointer;
}

.loggeduser
{
    margin-left: 1150px;
    height: 20px;
    padding-left:5px;
    padding-right:5px;
    background-color: #F3771B;
    width:auto;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
    transition: height .2s;
    -moz-transition: height .2s;
    -webkit-transition: height .2s;
    -o-transition: height .2s;
    position: absolute;
}
.loggeduser:hover{height:40px;}
.thiscontent{width:800px;height:400px;background-color:blanchedalmond;position:absolute;padding-left:10px;padding-top:10px;overflow: scroll;}
.dinventory
{
    width:150px;
    height:20px;
    display: block;
    overflow: hidden;

    background-color: #DC973A;
     transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    position:relative;
}
.dinventory:hover
{
    height:60px;
}
.dmember
{
    width:150px;
    height:20px;
    display: block;
    overflow: hidden;

    background-color: #DC973A;
     transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    position:relative;
}
.dmember:hover
{
    height:60px;
}
.dextra
{
    width:150px;
    height:20px;
    display: block;
    overflow: hidden;

    background-color: #DC973A;
     transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    position:relative;
}
.dextra:hover
{
    height:60px;
}

.dextraorder
{
    width:150px;
    height:20px;
    display: block;
    overflow: hidden;
    
    background-color: #DC973A;
     transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    position:relative;
}
.dextraorder:hover
{
    height:60px;
}
.message
{
    color:red;
}